/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}


.logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.mat-elevation {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, 
  rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, 
  rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
